# ignore log files
*.log

# ignore compiled python files
*.py[cod]
__pycache__/

# ignore local sqlite dbs
*.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
